Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, DELETE, PUT"
Header always set Access-Control-Allow-Headers "Content-Type"


RewriteEngine On


RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^spices$ controllers/spices.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^spices$ controllers/spices.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^spices/([0-9]+)$ controllers/spices.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^spices/([0-9]+)$ controllers/spices.php?action=delete&id=$1
